footer {
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: solid 1px black;

    .menu-menu-footer-container {
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin: 0px;

            li {
                list-style: none;
                padding-left: 15px;
                padding-right: 15px;

                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    color: black;
                    font-size: 16px;
                    padding: 10px;
                    font-family: 'Space Mono';
                }
            }
        }

    }
}