@use './variables.scss';

.hero {
    width: 100%;
    position: relative;
    display: grid;
    margin-bottom: 25px;

    h1 {
        grid-row: 1;
        grid-column: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 999;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 2px white;
    }
}

.hero-img {
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    position: relative;

    &>img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.all-photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vh;
    width: 80%;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;


}

