@use './variables.scss';

.hero {
    width: 100%;
    position: relative;
    display: grid;
    margin-bottom: 25px;

    h1 {
        grid-row: 1;
        grid-column: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 999;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 2px white;
    }
}

.hero-img {
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    position: relative;

    &>img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

#filters {
    position: relative;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 2vw;
    padding-bottom: 25px;
    z-index: 99;

    div:last-child {
        margin-left: auto;
    }
}

.liste-deroulante {
    margin-top: 3rem;
    position: relative;
    display: inline-block;
    width: 260px;

    .placeholder {
        display: none;
    }
}

.select-button {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    height: 22px;
    padding: 10px;
    border: 1.3px solid variables.$color-gris-2;
    border-radius: 0.25rem;
    background-color: white;
    cursor: pointer;
    border-radius: 8px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;

    &.open {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border: 1.3px solid variables.$color-bleu-1;
    }
}

.arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #000;
    transition: transform ease-in-out 0.3s;
}

.select-dropdown {
    position: absolute;
    left: 0;
    width: 240px;
    border: 1px solid variables.$color-gris-2;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: white;
    list-style: none;
    padding: 10px;
    margin: 0;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    max-height: 200px;
    overflow-y: auto;
    z-index: 999;
}

.select-dropdown::-webkit-scrollbar {
    width: 7px;
}

.select-dropdown::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
}

.select-dropdown::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
}

.select-dropdown li {
    padding: 10px;
    cursor: pointer;
    font-family: Poppins;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;

    &::first-letter {
        text-transform: uppercase;
    }
}

/* Highlight the selected option */
.select-dropdown li.selected {
    background-color: variables.$color-rouge-1;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

.select-dropdown li:hover,
.select-dropdown li:focus {
    background-color: variables.$color-rouge-3;
    border-radius: 4px;
}

.select-dropdown.hidden {
    display: none;
}

#all-photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vh;
    width: 80%;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;


}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        width: 270px;
        height: 50px;
        background-color: variables.$color-gris-3;
        border-radius: 2px;
        text-decoration: none;
        color: black;
        font-family: 'Space Mono';
        font-size: 12px;
        text-align: center;
        align-content: center;

        &:hover {
            border: 2px solid variables.$color-gris-1
        }

    }

    padding-bottom: 25px;
}

@media screen and (max-width: 768px) {
    #filters {
        flex-direction: column;
        width: 80%;

        div {
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
        }
    }

    #all-photos {
        display: grid;
        grid-template-columns: repeat(1, 1fr);


    }


}