.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(black, 0.8);
    z-index: 100;
    animation: lightboxFadeIn 0.5s ease-in-out;

    button {
        opacity: 0.5;
        cursor: pointer;
        z-index: 101;
        position: fixed;
        transition: 0.3s ease-in-out;

        &:hover {
            opacity: 1;
            scale: 1.2;
        }

    }

    &-close {
        background: url(../images/croix-blanche-lightbox.svg) center center / 100% 100%;
        width: 22px;
        height: 22px;
        border: none;
        text-indent: -30000px;
        position: fixed;
        top: 20px;
        right: 20px;
    }

    &-next,
    &-prev {
        border: none;
        background-color: transparent;
        color: white;
        top: 50%;
        margin-top: -10px;
        transition: scale 0.3s ease-in-out;
        height: 20px;
        font-family: "Space Mono";
        font-size: "12px";
    }

    &-next {
        right: 20px;

        &:after {
            content: url(../images/fleche-lightbox-next.svg);
            padding-left: 5px;
        }
    }

    &-prev {
        left: 20px;

        &:before {
            content: url(../images/fleche-lightbox-prev.svg);
            padding-right: 5px;
        }

    }

    &-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 150px;
        margin-right: 150px;
        margin-top: 50px;
        height: 80vh;
        object-fit: contain;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .infos-photo {
        margin-left: 150px;
        margin-right: 150px;
        display: flex;
        flex-direction: row;
        color: white;
        font-family: 'Poppins';
        font-size: 14px;
        text-transform: uppercase;
        .categorie {
            margin-left: auto;
        }
    }
}


@keyframes lightboxFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}