@use './variables.scss';

.photo-container {
    position: relative;
    width: 100%;
    height: 60vh;
    object-fit: cover;

    .photo-image {
        width: 100%;
        height: 100%;

        img {
            cursor: pointer;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }

    .photo-actions {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(black, 0.6);

        button {
            border: none;
            background-color: transparent;
            cursor: pointer;
            transition: scale 0.3s;

            &.btn-lightbox {
                position: absolute;
                top: 10px;
                right: 10px;
            }

            &.btn-infos {
                position: absolute;
                top: 50%;
                right: 50%;
            }

            &:hover {
                scale: 1.2;
            }

            img {
                width: 20px;
            }
        }
    }

    .photo-legende {
        font-family: "Poppins";
        font-size: 12px;
        color: white;
        position: absolute;
        left: 0px;
        bottom: 0px;
        display: flex;
        justify-content: space-between;
        width: 100%;

        p {
            padding: 5px;
            margin-bottom: 0px;

        }
    }
}

@media screen and (max-width: 768px) {
    .photo-container {

        .photo-actions {
            display: block;
        }
    }
}