.photo-container {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    .photo-image {
        width: 100%;
        height: 100%;

        img {
            cursor: pointer;    
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
    }
}
