.photo-container {
    width: 100%;
    max-width: 500px;
    max-height: 500px;
    object-fit: contain;
    .photo-image {
        width: 100%;
        height: 100%;

        img {
            cursor: pointer;    
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
    }
}
