/* poppins-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v24-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v24-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* space-mono-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/space-mono-v17-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* space-mono-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Space Mono";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/space-mono-v17-latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* space-mono-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/space-mono-v17-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* space-mono-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Space Mono";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/space-mono-v17-latin-700italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
header {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 10px 20px #e5e5e5;
}
header .custom-logo {
  width: 216px;
  height: auto;
}
header nav .menu-menu-principal-container ul {
  display: flex;
  flex-direction: row;
}
header nav .menu-menu-principal-container ul li {
  list-style: none;
}
header nav .menu-menu-principal-container ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 16px;
  padding: 10px;
  font-family: "Space Mono";
}

footer {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-top: solid 1px black;
}
footer .menu-menu-footer-container ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0px;
}
footer .menu-menu-footer-container ul li {
  list-style: none;
  padding-left: 15px;
  padding-right: 15px;
}
footer .menu-menu-footer-container ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 16px;
  padding: 10px;
  font-family: "Space Mono";
}

.modale {
  display: none;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-color: rgba(49, 49, 68, 0.4);
}
.modale .modale-content {
  padding-top: 5px;
  padding-bottom: 10px;
  background-color: white;
  margin: 5% auto;
  border: 5px solid black;
  width: 597px;
  border-radius: 5px;
}
.modale #formulaire {
  padding-left: 165px;
}
.modale #formulaire label {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  font-family: "Poppins";
}
.modale #formulaire input {
  width: 263px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #c4c4c4;
  font-size: 12px;
  font-weight: 400;
  font-family: "Space Mono";
}
.modale #formulaire .wpcf7-submit {
  width: 265px;
}
.modale #formulaire .wpcf7-submit:hover {
  border: 2px solid black;
  transform: scale(1.2);
  transition: all 0.3s ease-in;
}
.modale #formulaire textarea {
  width: 263px;
  height: 210px;
  border-radius: 8px;
  border: 1px solid #c4c4c4;
}

.contenu-page-photo {
  margin-bottom: 50px;
}
.contenu-page-photo .photo-infos {
  display: flex;
  flex-direction: row;
  align-items: end;
  padding-top: 50px;
}
.contenu-page-photo .photo-infos .infos {
  flex: 0 0 50%;
  border-bottom: 1px solid black;
  margin-right: 10px;
  padding-bottom: 20px;
}
.contenu-page-photo .photo-infos .photo {
  flex: 0 0 50%;
}
.contenu-page-photo .photo-infos .photo img {
  padding: 5px;
  object-fit: contain;
  width: 98%;
  height: 98%;
}
.contenu-page-photo .description-photo {
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Space Mono";
}
.contenu-page-photo .interaction {
  height: 118px;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
}
.contenu-page-photo .interaction #contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 0 0 50%;
  justify-content: space-between;
}
.contenu-page-photo .interaction #contact .show-modale-contact {
  background-color: #c4c4c4;
  width: 272px;
  height: 50px;
  text-align: center;
  border-radius: 2px;
  line-height: 50px;
  text-decoration: none;
  color: black;
  font-family: "Space Mono";
  font-size: 12px;
}
.contenu-page-photo .interaction #contact .show-modale-contact:hover {
  border: 2px solid #313144;
}
.contenu-page-photo .interaction .navigation {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}
.contenu-page-photo .interaction .navigation .tooltips {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenu-page-photo .interaction .navigation .tooltips #tooltip-precedent,
.contenu-page-photo .interaction .navigation .tooltips #tooltip-suivant {
  width: 81;
  height: 71;
  position: absolute;
  margin-bottom: 25px;
  margin-right: 100px;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.contenu-page-photo .interaction .navigation .tooltips #tooltip-precedent img,
.contenu-page-photo .interaction .navigation .tooltips #tooltip-suivant img {
  object-fit: cover;
}
.contenu-page-photo .interaction .navigation .links {
  margin-top: 25px;
}
.contenu-page-photo .interaction .navigation .links .fleche-btn {
  padding: 10px;
}
.contenu-page-photo .interaction .navigation .links .fleche-btn img {
  transition: all 0.3s ease-in-out;
}
.contenu-page-photo .interaction .navigation .links .fleche-btn img:hover {
  transform: scale(2);
}
.contenu-page-photo .suggestions .photos {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  gap: 5%;
}

@media screen and (max-width: 768px) {
  .contenu-page-photo .photo-infos {
    flex-direction: column-reverse;
    align-items: baseline;
  }
  .contenu-page-photo .photo-infos .infos {
    width: 100%;
    margin-right: 0;
  }
  .contenu-page-photo .interaction {
    display: block;
  }
  .contenu-page-photo .interaction #contact {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contenu-page-photo .interaction .navigation {
    display: none;
  }
  .contenu-page-photo .suggestions .photos {
    grid-template-columns: 1fr;
    padding-bottom: 25px;
  }
}
.photo-container {
  width: 100%;
  max-width: 500px;
  max-height: 500px;
  object-fit: contain;
}
.photo-container .photo-image {
  width: 100%;
  height: 100%;
}
.photo-container .photo-image img {
  cursor: pointer;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  margin: 0;
}
body main {
  width: 80%;
  margin: auto;
}

h1 {
  font-family: "Space Mono";
  font-size: 96px;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 100%;
}

h2 {
  font-family: "Space Mono";
  font-size: 66px;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 58px;
}

h3 {
  font-family: "Space Mono";
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 100%;
}

p {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 300;
  line-height: 100%;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 27.59px;
  }
  h2 {
    font-size: 46px;
    line-height: 48px;
  }
  h3 {
    font-size: 18px;
  }
}

/*# sourceMappingURL=main.css.map */
