/* poppins-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v24-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v24-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* space-mono-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/space-mono-v17-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* space-mono-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Space Mono";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/space-mono-v17-latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* space-mono-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/space-mono-v17-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* space-mono-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Space Mono";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/space-mono-v17-latin-700italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
header {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 10px 20px #e5e5e5;
}
header .custom-logo {
  width: 216px;
  height: auto;
}
header nav .menu-menu-principal-container ul {
  display: flex;
  flex-direction: row;
}
header nav .menu-menu-principal-container ul li {
  list-style: none;
}
header nav .menu-menu-principal-container ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 16px;
  padding: 10px;
  font-family: "Space Mono";
}

footer {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-top: solid 1px black;
}
footer .menu-menu-footer-container ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0px;
}
footer .menu-menu-footer-container ul li {
  list-style: none;
  padding-left: 15px;
  padding-right: 15px;
}
footer .menu-menu-footer-container ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 16px;
  padding: 10px;
  font-family: "Space Mono";
}

.modale {
  display: block;
  opacity: 0;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  transition: opacity 1s ease-out;
}
.modale .modale-content {
  padding-top: 5px;
  padding-bottom: 10px;
  background-color: white;
  margin: 15% auto;
  border: 5px solid black;
  width: 597px;
  border-radius: 5px;
}
.modale #formulaire {
  padding-left: 165px;
}
.modale #formulaire label {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  font-family: "Poppins";
}
.modale #formulaire input {
  width: 263px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #B8BBC2;
  font-size: 12px;
  font-weight: 400;
  font-family: "Space Mono";
}
.modale #formulaire textarea {
  width: 263px;
  height: 210px;
  border-radius: 8px;
  border: 1px solid #B8BBC2;
}

body {
  margin: 0;
}

/*# sourceMappingURL=main.css.map */
